.avatar-choice, .avatar-choice-active {
  margin-left: 6px;
  margin-right: 6px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.avatar-choice:hover {
  box-shadow: rgba(216, 65, 191, 0.263) 0px 0px 0px 3px;
}

.avatar-choice-active {
  box-shadow: rgba(214, 3, 91, 0.532) 0px 1px 4px, rgb(218, 19, 128) 0px 0px 0px 3px;
}

#select-avatar-p {
  margin-bottom: 30px;
  margin-top: 8px;
  font-size: 11px;
  color: rgb(106, 105, 105);
}