.avatar-choice, .avatar-choice-active {
  margin-left: 6px;
  margin-right: 6px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.avatar-choice:hover {
  box-shadow:  #45b7feb3 0px 0px 0px 3px;
}

.avatar-choice-active {
  box-shadow:  #204760 0px 1px 4px,  #72c9ff 0px 0px 0px 3px;
}

#select-avatar-p {
  margin-bottom: 30px;
  margin-top: 8px;
  font-size: 11px;
  color: rgb(106, 105, 105);
}