#chat-window {
  width: 780px;
  height: 600px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#chat-window p {
  margin: 0;
}

#chat-window-header {
  z-index: 100;
  display: flex;
  height: 45px;
  padding: 2px;
  padding-left: 15px;
  background:  #f176be;
  position: relative;
}

#chat-window-header p {
  display: block;
  padding-left: 2px;
  color: #ffffff;
  font-weight: 600;
  font-size: 19px;
  line-height: 45px;
}

#icon-div {
  flex: 1;
  padding-right: 10px;
}

#room-info-icon {
  margin-top: 10px;
  float: right;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

#chat-info-div {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  padding-top: 10px;
  top: -0px;
  height: 541px;
  width: 250px;
  background-color: whitesmoke;
  box-shadow: -3px 0px 2px 1px #d6d6d6;
  transition: 0.6s;
}

#chat-info-div hr {
  width: 100%;
}

#chat-info-div p, #chat-info-div hr {
  opacity: 80%;
  padding-left: 15px;
}

#participants-title {
  padding-top: 7px;
  padding-bottom: 7px;
}

.chat-info-opened {
  right: -540px;
}

.chat-info-closed {
  right: -790px;
}

.participant-div {
  display: flex;
  padding-left: 15px;
  margin-bottom: 5px;
}

.participant-image {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

.participant-nickname {
  padding-top: 15px;
}

#button-div {
  flex: 1;
  justify-content: center;
  position: relative;
}

#button-div hr {
  position: absolute;
  bottom: 35px;
}

#leave-button {
  display: flex;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 8px;
  position: absolute;
  bottom: 0px;
  opacity: 80%;
  bottom: 0px;
}

#leave-button img {
  height: 27px;
  width: 27px;
  cursor: pointer;
}

#leave-button p {
  padding-top: 4px;
  padding-left: 6px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

#chat-body {
  position: relative;
  top: -550px;
  height: calc(600px - (45px + 50px));
  background: #efefef;
  position: relative;
  overflow-y: scroll;
}

.chat-window #chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.message {
  position: relative;
  left: 0px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-avatar {
  width: 0px;
  height: 0px;
}

.avatar-img-div {
  margin-top: 7px;
  width: 50px;
  height: 100%;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#received .message-content, #sent .message-content {
  width: auto;
  height: auto;
  min-height: 25px;
  max-width: 240px;
  min-width: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#join-notification {
  width: 700px;
  text-align: center;
}

#join-notification .message-text {
  width: 100%;
  text-align: center;
  color: rgb(171, 171, 171);
  font-size: small;
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
}

#received {
  justify-content: flex-start;
}

#received .message-content {
  background-color: #dadada;
  color: rgb(28, 28, 28);
  justify-content: flex-start;
  padding-left: 10px;
}

#sent {
  justify-content: flex-end;
}

#sent .message-content {
  justify-content: flex-end;
  background-color:  #fc8cc2;
  color: white;
}

.message-author {
  padding-left: 7px;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 13px;
  opacity: 85%;
}

.text-time-div {
  display: flex;
  flex-direction: column;
}

.message-time-info {
  display: flex;
  font-size: 11px;
  padding-top: 2px;
  color: #798489;
}

.message-time {
  width: 100%;
  text-align: right;
  padding-right: 5px;
}

.chat-footer {
  position: relative;
  top: -550px;
  height: 50px;
  border-top: none;
  display: flex;
}

.chat-footer input {
  height: 100%;
  flex: 85%;
  margin-left: 25px;
  border: 0;
  padding: 0px;
  font-size: 1em;
  outline: none;
}

#send-message-button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 23px;
  color: lightgray;
}

#send-message-button:hover {
  color: #686868;
}

