.login-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#join-message {
  font-size: 20px;
  margin-bottom: 40px;
}

.avatar-choice {
  padding-left: 6px;
  padding-right: 6px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  cursor: pointer;
}

#select-avatar-p {
  margin-bottom: 30px;
  margin-top: 8px;
  font-size: 11px;
  color: rgb(106, 105, 105);
}

.login-div input {
  width: 200px;
  height: 35px;
  margin: auto;
  margin-bottom: 10px;
  border: 0px;
  background-color: rgba(188, 188, 188, 0.225);
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
}

#join-button {
  width: 230px;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  padding: 5px;
  font-size: 16px;
  background: #5eb1e1;
  color: #fff;
  cursor: pointer;
}

#join-button:hover {
  background: #519bc593;
}
